
.about {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2d3142;
}

.about p {
    font-size: 1.2em;
    color: #808080;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.map {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.map h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

iframe {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.map-container iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
}

/* Media Queries for Responsiveness */

/* For smaller devices like phones */
@media (max-width: 768px) {
    .about h2 {
        font-size: 2em;
    }

    .about p {
        font-size: 1em;
        max-width: 90%;
    }

    .map h3 {
        font-size: 1.8em;
    }

    .map-container iframe {
        max-width: 100%;
        height: 300px;
    }

    .footer .footer-section {
        margin-bottom: 15px;
    }

    .footer .footer-section h4 {
        font-size: 1.2em;
    }

    .footer .footer-section ul li a {
        font-size: 1em;
    }

    .footer .footer-bottom p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .about h2 {
        font-size: 1.8em;
    }

    .about p {
        font-size: 0.9em;
        max-width: 100%;
    }

    .map h3 {
        font-size: 1.6em;
    }

    .map-container iframe {
        height: 250px;
    }

    .footer .footer-section h4 {
        font-size: 1.1em;
    }

    .footer .footer-section ul li a {
        font-size: 0.9em;
    }

    .footer .footer-bottom p {
        font-size: 0.8em;
    }
}
.comments-section {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2d3142;
    border-radius: 10px;
    box-shadow: 0 2px 8px #808080;
  }
  
  #commentForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #commentForm input,
  #commentForm textarea {
    padding: 10px;
    border: 1px solid #f8f8f8;
    border-radius: 6px;
    font-size: 1em;
    resize: none;
  }
  
  #commentForm button {
    background-color: #ffe36f;
    color: #2d3142;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #commentForm button:hover {
    background-color: #808080;
  }
  
  #commentList {
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }
  
  #commentList li {
    background-color: #fff;
    border-left: 4px solid #ff6f61;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
  }
  .comments-section h3{
    color: #ffe36f;
    padding-bottom: 15px;
    text-align: center;
  }